@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get" action="@Url.Action("Index")" class="form-inline mb-3">
    <div class="form-group mr-2">
        <label for="titleSearch" class="mr-2">Title:</label>
        <input type="text" id="titleSearch" name="titleSearch" class="form-control" value="@ViewBag.TitleSearch" />
    </div>
    <div class="form-group mr-2">
        <label for="authorSearch" class="mr-2">Author:</label>
        <input type="text" id="authorSearch" name="authorSearch" class="form-control" value="@ViewBag.AuthorSearch" />
    </div>
    <div class="form-group mr-2">
        <label for="genreSearch" class="mr-2">Genre:</label>
        <input type="text" id="genreSearch" name="genreSearch" class="form-control" value="@ViewBag.GenreSearch" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year Published</th>
            <th>Number of Pages</th>
            <th>Description</th>
            <th>Publisher</th>
            <th>Front Page</th>
            <th>Download Url</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.YearPublished.Value.Year)</td>
                <td>@Html.DisplayFor(modelItem => item.NumPages)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Publisher)</td>
                <td>@Html.DisplayFor(modelItem => item.FrontPage)</td>
                <td>@Html.DisplayFor(modelItem => item.DownloadUrl)</td>
                <td>@($"{item.Author.FirstName} {item.Author.LastName}")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
